{% extends "parent.html" %}

{% block body %}

<div class="container">
	<div class="row">
		<div id="infinitivo">
			<p>Infinitivo</p>
		</div>
	</div>
		<div id="tema">
			<p>Tema</p>
		</div>
		<div id="aspecto">
			<p>Aspecto</p>
		</div>
		<div id="tenso">
			<p>Tenso</p>
		</div>
		<div>
			<div class="input-group mb-3">
				<input type="text" class="form-control">
				<div class="input-group-append">
					<button class="btn btn-outline-secondary" type="button" id="button-addon2">Submit</button>
				</div>
			</div>
			<button id="reveal">Rendirte</button>
		</div>
		<div id="respuesta">
		</div>
</div>

{% endblock %}
