{% extends "parent.html" %}


{% block body %}

<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
	<div class="container col-md-6">
		<div class="dropdown">
			<button class="btn btn-primary btn-default" type="button" id="opciones">
				Opciones 
			</button>
			<div class="dropdown-menu dropdown-menu-center w-100 text-center" style="display:none">
				{% include "enoptions.html" %}
			</div>
		</div>
	</div>
</nav>

<div class="container-fluid d-flex align-items-center">
	<div class="d-flex flex-column justify-content-center">
		<div>1</div>
		<div>1</div>
		<div>1</div>
		<div>1</div>
	</div>
</div>

<footer></footer>

{% endblock %}

{% block footer %}

<script src="/scripts/enscript.js"></script>

{% endblock %}
