{% extends "parent.html" %}

{% block body %}
<div class="container h-100">
	<div class="row h-100">
		<div class="col align-self-center text-center">
			<h5>Quiero aprender</h5>
			<form action="/en">
				<button type="submit" class="btn btn-primary">English</button>
			</form>
		</div>
		<div class="col align-self-center text-center">
			<h5>I want to learn</h5>
			<form action="/es">
				<button type="submit" class="btn btn-primary" disabled>Español (Coming soon)</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}
