html, body {
	height: 100%;
	font-family: "Varela Round", sans-serif;
}

nav, footer {
	height: 10%;
}

.dropdown-menu-center {
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
	padding: 20px;
	width: 90vw !important;
	max-width: 450px !important;
}

/* STYLES */

.flex-column {
	width: 100%;
}

.dropdown {
	margin: auto;
}

.container-fluid {
	height: 80%;
}

.titles {
	color: #999;
}

.error-msg {
	display: none;
}

#answer-section {
	display: none;
}

#continue {
	display: none;
}

/* COLORING GUESS INFO */

.correct-guess h6 {
	color: #004000;
}

.correct-guess h5 {
	color: green;
}

.incorrect-guess h6 {
	color: #5a0000;
}

.incorrect-guess h5 {
	color: red;
}

.incorrect-guess p {
	color: red;
	font-style: italic;
}

h6 {
	margin: 0 0 8px;
}
h5 {
	margin: 0 0 16px;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 600px) {
	#guess-form {
		width: 550px;
		margin: auto;
	}
}

@media only screen and (max-height: 600px) {
	h5 {
		font-size: 0.9rem;
	}
	h6 {
		font-size: 0.75rem;
	}
	.btn {
		font-size: 0.8rem;
	}
	h6 {
		margin: 0 0 2px;
	}
	h5 {
		margin: 0 0 4px;
	}
}	

@media only screen and (min-height: 601px) and (max-height: 700px) {
	h5 {
		font-size: 1rem;
	}
	h6 {
		font-size: 0.85rem;
	}
	.btn {
		font-size: 0.9rem;
	}
	h6 {
		margin: 0 0 4px; 
	}
	h5 {
		margin: 0 0 6px;
	}
}	
