html, body {
	height: 100%;
	font-family: "Varela Round", sans-serif;
}

.dropdown {
	margin: auto;
}

.dropdown-menu-center {
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
	padding: 20px;
	width: 90vw !important;
}

nav, footer {
	height: 10%;
}

.container-fluid {
	height: 80%;
}

#continue {
	display: none;
}

.hints h6 {
	font-weight: bold;
}

.hints p {
	font-size: 1.4em;
}

#continue {
	margin: 20px;
}

.white-bg-opaque {
	background-color: rgba(255, 255, 255, 0.8);
}

#copyright {
	font-size: 0.5em;
}

#quiz-options {
	display: none;
}

.error-msg {
	display: none;
	font-size: 0.9em;
	line-height: 1em;
}
